.App {
  text-align: center;
  

  background-repeat: no-repeat;
  -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          height: 1120px;

}






